//
// Typography
//

@import url('https://fonts.googleapis.com/css?family=Quicksand');
$text-font-family: 'Quicksand', sans-serif !default;
$text-font-size-super: 2em !default;
$text-font-size-xlarge: 1.5em !default;
$text-font-size-large: 1.25em !default;
$text-font-size-medium: 1em !default;
$text-font-size-small: .8em !default;
$text-font-size-xsmall: .67em !default;
$text-font-weight: normal !default;
$text-font-weight-heavy: bold !default;
$text-line-height: 1.55 !default;


//
// Spacing
//
$spacing-super: 3em !default;
$spacing-xlarge: 2em !default;
$spacing-large: 1.5em !default;
$spacing-medium: 1em !default;
$spacing-small: .5em !default;
$spacing-xsmall: .25em !default;
$spacing-tiny: .125em !default;


//
// Colors
//

$color-black: #212f35 !default;
$color-grey: #b0bec5 !default;
$color-white: #fff !default;
$color-red: #d74d51 !default;
$color-green: #18500f !default;

//
// Shadow
//

$shodow-grey: rgba(66, 66, 66, 0.3) !default;

//
// Poker card related variable
//

// base on poker card standard size
$card-base-height: 89px;
$card-base-width: 64px;
$card-image-base-height: 32px;
$card-image-base-width: 24px;

$card-base-left-margin: 44px;
$card-zoom: 1.5 !default;

$card-height-one-half: $card-base-height * $card-zoom;
$card-width-one-half: $card-base-width * $card-zoom;
$card-image-height-one-half: $card-image-base-height * $card-zoom;
$card-image-width-one-half: $card-image-base-width * $card-zoom;
