@import '../../assets/stylesheets/mixins/settings.global';

.c-enemy-hand-cards {
  height: $card-height-one-half;

  &__item {
    bottom: 0;
    display: inline-block;
    position: relative;

    &:not(:first-child) {
      // make cards stacked (but not fully stacked, still can see the card number)
      margin-left: -1 * $card-base-left-margin * $card-zoom;
    }
  }
}
