@import '../../assets/stylesheets/mixins/settings.global';

$overlay-color: rgba(0, 0, 0, .6);

.c-hand-cards {
  height: $card-height-one-half;

  &__item {
    bottom: 0;
    display: inline-block;
    position: relative;

    &:hover {
      box-shadow: 0 0 20px 5px $color-black;
      cursor: pointer;
    }

    &--ineligible:hover {
      box-shadow: none !important;
      cursor: default !important;
    }

    &:active {
      box-shadow: 0 0 20px 1px $color-black;
    }

    &:not(:first-child) {
      // make cards stacked (but not fully stacked, still can see the card number)
      margin-left: -1 * $card-base-left-margin * $card-zoom;
    }
  }

  &__overlay {
    background-color: $overlay-color;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
  }
}
