@import '../../assets/stylesheets/mixins/settings.global';

.c-card-back {
  background: $color-white;
  background-image: url('../../assets/images/backPattern.svg');
  background-repeat: repeat;
  border-radius: 2px;
  box-shadow: -1px 1px 1px 1px $shadow-grey;
  display: flex;
  flex-direction: column;
  height: $card-base-height * 1.5;
  justify-content: space-between;
  padding: .5em;
  width: $card-base-width * 1.5;

  &:hover {
    box-shadow: 0 0 20px 5px $shadow-grey;
  }

  &:active {
    box-shadow: 0 0 20px 1px $shadow-grey;
  }
}

.c-card {
  align-items: center;
  background: $color-white;
  border-radius: 2px;
  box-shadow: -1px 1px 1px 1px $shadow-grey;
  color: $color-black;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  height: $card-height-one-half;
  justify-content: space-between;
  padding: $spacing-small;
  width: $card-width-one-half;

  &--small {
    font-size: $text-font-size-xsmall;
    height: $card-base-height;
    padding: $spacing-xsmall;
    width: $card-base-width;
  }

  &--red {
    color: $color-red;
  }

  &__image {
    max-height: $card-image-height-one-half;
    width: $card-image-width-one-half;
  }

  &__image--small {
    max-height: $card-image-base-height;
    width: $card-image-base-width;
  }

  &__top {
    align-self: flex-start;
  }

  &__bottom {
    align-self: flex-end;
  }
}
