@import '../../assets/stylesheets/mixins/settings.global';

// base on poker card standard size
$card-base-height: 89px;
$card-base-width: 64px;

.c-card {
  align-items: center;
  background: $color-white;
  border-radius: 2px;
  box-shadow: -1px 1px 1px 1px $color-grey;
  color: $color-black;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  height: $card-base-height * 2;
  justify-content: space-between;
  padding: .5em;
  width: $card-base-width * 2;

  &--red {
    color: $color-red;
  }

  &__image {
    width: 60px;
  }

  &__top {
    align-self: flex-start;
  }

  &__bottom {
    align-self: flex-end;
  }

  &:hover {
    box-shadow: 0 0 20px 5px $color-grey;
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 0 20px 1px $color-grey;
  }
}
