@import '../../assets/stylesheets/mixins/settings.global';

// should be global settings
$card-base-height: 89px;
$picked-card-space: 30px;

.c-table {
  background: $color-green;
  height: 100vh;
  width: 100%;

  &__left {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 25%;

    &__card-holder {
      left: $card-base-height + ($picked-card-space / 2);
      position: absolute;
      top: 12%;
      transform: rotate(90deg);
    }
  }

  &__middle {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 50%;

    &__top {
      height: 50%;

      &__card-holder {
        position: absolute;
        right: 28%;
        transform: rotate(180deg);
      }
    }

    &__bottom {
      height: 50%;

      &__card-holder {
        bottom: 0;
        left: 18%;
        position: absolute;
      }
    }
  }

  &__right {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 25%;

    &__card-holder {
      bottom: 12%;
      position: absolute;
      right: $card-base-height + ($picked-card-space / 2);
      transform: rotate(270deg);
    }
  }
}
