@import '../../assets/stylesheets/mixins/settings.global';

.c-table {
  background: $color-green;

  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 23% auto 23%;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card_placeholder {
    height: $card-base-height * 1.5;

    &--top {
      align-self: flex-start;
      transform: rotate(180deg);
    }

    &--left {
      transform: rotate(90deg);
      margin-left: -($card-base-height + $picked-card-space);
    }

    &--right {
      transform: rotate(270deg);
      margin-right: -($card-base-height + $picked-card-space);
    }

    &--bottom {
      align-self: flex-end;
    }
  }
}
