@import '../../assets/stylesheets/mixins/settings.global';

.c-table {
  background: $color-green;

  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 23% auto 23%;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &--left {
      justify-content: flex-start;
      align-items: flex-start;
    }

    &--right {
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  &__card_placeholder {
    height: $card-base-height * $card-zoom;

    &--top {
      align-self: flex-start;
      transform: rotate(180deg);
    }

    &--left {
      transform: rotate(90deg);
      transform-origin: bottom left;
      margin-top: $card-base-width * $card-zoom * -1;
    }

    &--right {
      transform: rotate(270deg);
      transform-origin: bottom right;
      margin-top: $card-base-width * $card-zoom * -1;
    }

    &--bottom {
      align-self: flex-end;
    }
  }
}
